@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Product Description Page</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"> Product ID </th>
                <th scope="col"> Product Name </th>
                <th scope="col"> Product Quantity </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <th scope="row">@item.ProductId</th>
                    <td>@item.ProductName</td>
                    <td>@item.ProductQuantity</td>
                </tr>
            }
        </tbody>
    </table>
</div>
